html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P", cursive;
}

.emulator-container {
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
}

.emulator-window {
    border: 4px solid black;
}

.rom-select-button {
    align-self: center;
    margin-bottom: 20px;
}

.scale-select {
    max-width: 200px;
}

.controls-container {
    align-self: center;
}

.header {
    margin-top: 10px;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.main-row {
    flex-direction: row;
}

.column {
    flex: 1;
    flex-direction: column;
}

.github-corner:hover .octo-arm {
    animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,100% {
        transform:rotate(0)
    }
    20%,60% {
        transform:rotate(-25deg)
    }
    40%,80% {
        transform:rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation:none
    }
    .github-corner .octo-arm {
        animation:octocat-wave 560ms ease-in-out
    }
}